@rendermode InteractiveServer

<PageTitle>Line Care Cursos e Treinamentos para Profissionais da Saúde</PageTitle>

<div id="overview" class="overview-container">
    <div class="overview">
        <h1>Capacitação para profissionais da Saúde</h1>

        <p>Leve seu conhecimento para o próximo nível</p>

        <button class="btn btn-primary">[Telefone]</button>
    </div>
</div>
