.overview-container {
    background-color: #0610cf;
    color: aliceblue;

    margin: 0 calc(-50vw + 49%);
    padding: 0;

    height: 85vh;
    width: 100vw;

    display: flex;
    align-items: center;
}

.overview {
    margin: 20px;
    padding: 50px 20px;

    text-align: left;
}

.overview h1 {
    max-width: 50vw;

    font-size: 3.5em;
    font-weight: bold;
}

.overview p {
    padding: 30px 0px;
    font-size: 1.25em;
    text-wrap: pretty;
}

.overview .btn {
    height: 50px;
    width: 150px;
    font-size: 1.25em;
}

.overview .btn-primary {
    color: #fff;
    background-color: #0477BF;
    border-color: #1861ac;
}

.overview .btn:hover {
    background-color: #04c4c4;
}

.overview .btn:focus, .btn:active:focus, .btn-link.nav-link:focus,
.form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}
