@rendermode InteractiveServer

<PageTitle>Line Care Cursos e Treinamentos para Profissionais da Saúde</PageTitle>

<div id="about">
    <ul>
        <li>Cursos Online</li>
        <li>Professores Experientes</li>
        <li>Pagamento Facilitado</li>
        <li>Com Certificado</li>
    </ul>

    <h2>Cursos e Minicursos</h2>

    <p>Os cursos e minicursos oferecido pela Line Care Consultoria foram criados para você que está em busca
        de informação e não pode se comprometer com horários. Desta forma, ao adquirir nossos cursos, você
        poderá acessá-los no horário que quiser.</p>

    <p>Temos cursos <b>presenciais</b> e cursos <b>online</b> que ficam disponíveis por 2 meses
        na plataforma.</p>
</div>
