@page "/cursos"
@rendermode InteractiveServer

<PageTitle>Line Care Cursos e Treinamentos para Profissionais da Saúde</PageTitle>

<div id="cursos">
    <h2>Cursos e Minicursos</h2>

    <ul>
        <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum voluptatibus quisquam obcaecati optio, blanditiis saepe quibusdam necessitatibus, repellat accusantium similique, repudiandae veniam tempore nihil deserunt esse fugiat voluptates unde quis!</li>
        <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum voluptatibus quisquam obcaecati optio, blanditiis saepe quibusdam necessitatibus, repellat accusantium similique, repudiandae veniam tempore nihil deserunt esse fugiat voluptates unde quis!</li>
        <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum voluptatibus quisquam obcaecati optio, blanditiis saepe quibusdam necessitatibus, repellat accusantium similique, repudiandae veniam tempore nihil deserunt esse fugiat voluptates unde quis!</li>
        <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum voluptatibus quisquam obcaecati optio, blanditiis saepe quibusdam necessitatibus, repellat accusantium similique, repudiandae veniam tempore nihil deserunt esse fugiat voluptates unde quis!</li>
        <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum voluptatibus quisquam obcaecati optio, blanditiis saepe quibusdam necessitatibus, repellat accusantium similique, repudiandae veniam tempore nihil deserunt esse fugiat voluptates unde quis!</li>
        <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum voluptatibus quisquam obcaecati optio, blanditiis saepe quibusdam necessitatibus, repellat accusantium similique, repudiandae veniam tempore nihil deserunt esse fugiat voluptates unde quis!</li>
        <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum voluptatibus quisquam obcaecati optio, blanditiis saepe quibusdam necessitatibus, repellat accusantium similique, repudiandae veniam tempore nihil deserunt esse fugiat voluptates unde quis!</li>
    </ul>
</div>
