@page "/"
@rendermode InteractiveServer

<PageTitle>Line Care Cursos e Treinamentos para Profissionais da Saúde</PageTitle>

<div id="footer">
    <h2>Line Care Cursos e Treinamentos</h2>
    <h3>CNPJ</h3>

    <ul>
        <li>Cursos Online</li>
        <li>Professores Experientes</li>
        <li>Pagamento Facilitado</li>
        <li>Com Certificado</li>
    </ul>

    <ul>
        <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum voluptatibus quisquam obcaecati optio, blanditiis saepe quibusdam necessitatibus, repellat accusantium similique, repudiandae veniam tempore nihil deserunt esse fugiat voluptates unde quis!</li>
        <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum voluptatibus quisquam obcaecati optio, blanditiis saepe quibusdam necessitatibus, repellat accusantium similique, repudiandae veniam tempore nihil deserunt esse fugiat voluptates unde quis!</li>
        <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum voluptatibus quisquam obcaecati optio, blanditiis saepe quibusdam necessitatibus, repellat accusantium similique, repudiandae veniam tempore nihil deserunt esse fugiat voluptates unde quis!</li>
        <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum voluptatibus quisquam obcaecati optio, blanditiis saepe quibusdam necessitatibus, repellat accusantium similique, repudiandae veniam tempore nihil deserunt esse fugiat voluptates unde quis!</li>
        <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum voluptatibus quisquam obcaecati optio, blanditiis saepe quibusdam necessitatibus, repellat accusantium similique, repudiandae veniam tempore nihil deserunt esse fugiat voluptates unde quis!</li>
        <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum voluptatibus quisquam obcaecati optio, blanditiis saepe quibusdam necessitatibus, repellat accusantium similique, repudiandae veniam tempore nihil deserunt esse fugiat voluptates unde quis!</li>
        <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum voluptatibus quisquam obcaecati optio, blanditiis saepe quibusdam necessitatibus, repellat accusantium similique, repudiandae veniam tempore nihil deserunt esse fugiat voluptates unde quis!</li>
    </ul>

    <ul>
        <li>[Telefone]</li>
        <li>[Email]</li>
        <li>Instagram</li>
        <li>LinkedIn</li>
        <li>Facebook</li>
    </ul>

    <p>Copyright</p>
</div>
