@using LineCareLandingPage.Components.Pages.HomeComponents.About
@using LineCareLandingPage.Components.Pages.HomeComponents.Courses
@using LineCareLandingPage.Components.Pages.HomeComponents.Footer
@using LineCareLandingPage.Components.Pages.HomeComponents.Overview

@page "/"

<PageTitle>Line Care Cursos e Treinamentos para Profissionais da Saúde</PageTitle>

<div id="home">

<h1>Line Care</h1>

<hr>
<Overview />

<hr>
<About />

<hr>
<Courses />

<hr>
<Footer />
<hr>

</div>
