@page "/"

<PageTitle>Line Care Cursos e Treinamentos para Profissionais da Saúde</PageTitle>

<div id="home">

<h1>Line Care</h1>

<hr>
<Overview />

<hr>
<About />

<hr>
<Cursos />

<hr>
<Footer />
<hr>

</div>
