@page "/"
@rendermode InteractiveServer

<PageTitle>Line Care Cursos e Treinamentos para Profissionais da Saúde</PageTitle>

<div id="overview">
    <h1>Capacitação para profissionais da Saúde</h1>

    <p>Leve seu conhecimento para o próximo nível</p>

    <button>[Telefone]</button>
</div>
