@page "/cursos"
@rendermode InteractiveServer

<PageTitle>Line Care Cursos e Treinamentos para Profissionais da Saúde</PageTitle>

<div id="cursos" class="courses-section-container">
    <div class="courses-container">
        <div class="card">
            <Card />
        </div>

        <div class="card">
            <Card />
        </div>

        <div class="card">
            <Card />
        </div>

        <div class="card">
            <Card />
        </div>

        <div class="card">
            <Card />
        </div>

        <div class="card">
            <Card />
        </div>
    </div>
</div>
