@page "/cursos"
@rendermode InteractiveServer

<PageTitle>Line Care Cursos e Treinamentos para Profissionais da Saúde</PageTitle>

<div id="cursos" class="courses-section-container">
    <div class="courses-container">
        <div class="course">
            <p>Lorem ipsum dolor sit amet consectetur fugiat voluptates unde quis!</p>
        </div>

        <div class="course">
            <p>Lorem ipsum dolor sit amet consectetur fugiat voluptates unde quis!</p>
        </div>

        <div class="course">
            <p>Lorem ipsum dolor sit amet consectetur fugiat voluptates unde quis!</p>
        </div>

        <div class="course">
            <p>Lorem ipsum dolor sit amet consectetur fugiat voluptates unde quis!</p>
        </div>
    </div>
</div>
