@page "/cursos"
@rendermode InteractiveServer

<PageTitle>Line Care Cursos e Treinamentos para Profissionais da Saúde</PageTitle>

@using LineCareLandingPage.Models;
@using LineCareLandingPage.ViewModels;

<div id="cursos" class="courses-section-container">
    <div class="courses-container">
        <div>
            <button @onclick="AddNewCourse" class="btn btn-primary">Novo</button>
        </div>

        @foreach (var course in _viewModel.Courses)
        {
            <div class="card">
                <Card Name=@course.Name Description=@course.Description />
            </div>
        }
    </div>
</div>

@code {
    private CoursesViewModel _viewModel = new CoursesViewModel();

    private void AddNewCourse()
    {
        _viewModel.AddCourse("G", "H");
    }
}
